
<footer class="row footLinks" gumby-shuffle="only screen and (max-width: 767px)|1-0">
            <div class=" four columns inview" gumby-classname="onscreen" gumby-offset="150" >
               <img class="svg-inject one" src="{{ url_for('static', filename='img/nemLogoWhite.svg') }}"
 alt="NEM logo white" gumby-retina />
               <p id="footerlogotext"></p>
            </div>
            <div class="push_two six columns">
               <section class="three_up tiles">
                  <div class="tile">
                     <ul>
                        <li id="footerresources"></li>
                        <li><a id="footerresources1" href="https://github.com/NewEconomyMovement"></a></li>
                        <li><a id="footerresources2" href="http://www.altnemo.com/"></a></li>
                        <li><a id="footerresources3"  href="https://docs.google.com/spreadsheet/ccc?key=0Ak91SD0veCeddDdmTkdaWV8zbHp2dWlodDVEVUItbXc&usp=sharing&richtext=true#gid=10"></a></li>
                        <li><a id="footerresources4" href="http://bob.nem.ninja/docs/"></a></li>
                        <li><a id="footerresources5" href="https://github.com/NewEconomyMovement/NemCommunityClient/blob/master/docs/api.md"></a></li>
                        <li><a id="footerresources6" href="http://www.8btc.com"></a></li>
                     </ul>
                  </div>
                  <div class="tile">
                     <ul>
                        <li id="footerarticles"></li>
                        <li><a id="footerarticles1" href="http://motherboard.vice.com/read/this-cryptocurrency-doesnt-want-to-beat-bitcoin-it-wants-to-beat-the-economy"></a></li>
                        <li><a id="footerarticles2" href="http://finance.yahoo.com/news/cryptocurrency-nem-gears-change-trade-100500963.html"></a></li>
                        <li><a id="footerarticles3" href="http://cointelegraph.com/news/113839/nem-launches-targets-old-economy-with-proof-of-importance"></a></li>
                        <li><a id="footerarticles4" href="http://allcoinsnews.com/2015/04/07/nem-qa/"></a></li>
                        <li><a id="footerarticles5" href="http://8btc.com/thread-15618-1-1.html"></a></li>
                        <li><a id="footerarticles6" href="#"></a></li>
                     </ul>
                  </div>
                  <div class="tile">
                     <ul>
                        <li id="footernewsletters"></li>
                        <li><a id="footernewsletters1" href="http://blog.nem.io/the-newsletter/"></a></li>
                        <li><a id="footernewsletters2" href="https://medium.com/@nemcoin/nem-newsletter-9-1299cf8660f1"></a></li>
                        <li><a id="footernewsletters3" href="https://medium.com/@nemcoin/nem-newsletter-8-303765572f00"></a></li>
                        <li><a id="footernewsletters4" href="https://medium.com/@xtester/nem-newsletter-7-2014-10-21-5c78d69bbb12"></a></li>
                        <li><a id="footernewsletters5" href="https://medium.com/@xtester/nem-newsletter-6-2014-10-19-6cc2c2cc99be"></a></li>
                        <li><a id="footernewsletters6" href="archives.html"></a></li>
                     </ul>
                  </div>
               </section>
            </div>
         </footer>
         <div class="lowerFooter">
            <div class="lowerFooterBox">
               <div class="row"gumby-shuffle="only screen and (max-width: 767px)|1-0">
                  <div class="six columns license">
                     @NEM Project 2015 Released under the MIT License
                  </div>

                  <div class="push_two four columns socialFooter">
                     <!-- <a href="http://www.reddit.com/r/nem/"><i class="icon-reddit"></i></a> -->
                     <a href="https://www.facebook.com/ourNEM"><i class="icon-facebook"></i></a>
                     <a href="https://twitter.com/NEMofficial"><i class="icon-twitter"></i></a>
                     <a href="https://github.com/NewEconomyMovement"><i class="icon-github"></i></a>
                  </div>
               </div>
            </div>
         </div>
